version: "3"
services:
  db:
    image: postgres:latest
    container_name: "PostgreSQL"
    ports:
      - "5432:5432"
    volumes:
      - "db-data:/var/lib/postgresql/data"
      - ./postgres/initdb:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
volumes:
  db-data:
    driver: local

