version: "3"
services:
  app:
    build:
      context: .
      args:
        JAR_FILE: ${JAR_FILE}
    image: ${IMAGE_NAME}-${PRODUCTION}
    container_name: "${CONTAINER_NAME}-${PRODUCTION}"
    environment:
      - LINE_BOT_CHANNEL_TOKEN=${LINE_BOT_CHANNEL_TOKEN}
      - LINE_BOT_CHANNEL_SECRET=${LINE_BOT_CHANNEL_SECRET}
      - POSTGRES_DB=${POSTGRES_DB}-${PRODUCTION}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - front
networks:
  front:
    external:
      name: shared_default